x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Ll]og/

__pycache__

tags
.tags*
.builds

*.suo
*.user
*.userosscache
*.sln.docstates
*.ide/
.vscode/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.scc
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx

*.aux
*.lof
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

*.dvi
*-converted-to.*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

*.ppm
*.pdf_tex
*.xdv

*.alg
*.loa
*.brf
*.dpth
*.md5
*.auxlock
*.soc
*.tdo
